body {
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-Login {
  border-radius: 5px;
  padding: 10px;
}

.Custom_btn {
  width: 20%;
}

.custom_Input {
  line-height: 2;
  outline: none;
}

.Custom_Container {
  margin-top: 5px;
  max-width: 100%;
}

.btn_custom_client {
  cursor: pointer;
  border: none;
  margin-right: 10px;
  background-color: #fa3838;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
}

.btn_custom_client_novo {
  border: none;
  margin-right: 10px;
  background-color: #06a72e;
  text-decoration: none;
  border-bottom: solid 1px;
  display: flex;
  align-items: center;
}

.btn-primary {
  border-color: none;
  padding-bottom: 8px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
}

.btn_custom_pen_edit {
  cursor: pointer;
  margin-right: 10px;
  border: none;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
}

.btn_modal_salvar {
  border: none;
  margin-right: 10px;
  background-color: #06a72e;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
}

.btn_modal_close {
  border: none;
  background-color: #fa3838;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
}
.btn_exit{
  margin-left: 25px;
}
.Title_custom {
  color: #000;
  padding: 35px;
  border-bottom: 1px solid #5d5d5d1f;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.modal_header {
  box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.5);

}

.modal_border {
  box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.5);
}

.modal_body {
  box-shadow: 1px 0.5px 10px rgba(0, 0, 0, 0.5);
}

.Title_custom_footer {
  color: #000;
  border-bottom: 1px solid #5d5d5d1f;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.ContentHeader_custom {
  color: #000;
  padding: 30px;
}

.Logo_style {
  color: #000;
  margin-left: 10px;
}

.table-custom {
  margin-top: 20px;
  background-color: #dadada;
  border-collapse: separate;
  border-radius: 8px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
}

.table-custom th,
.table-custom td {
  padding: 10px;
  background-color: #ffffff;
}

.table-custom th,
.table-custom td {
  position: relative;
}

.table-custom th::after,
.table-custom td::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px 2px rgba(202, 201, 201, 0.5);
}

.table-custom thead th {
  background-color: #cac9c9;
  color: #2e2d2d;
  text-align: center;
  padding: 8px;
}

.search-ico {
  margin-right: 10px;
  margin-top: 10px;
}

.filter-custom {
  border: 1px solid black;
}

.Link_sidebar {
  text-decoration: none;
  font-size: 21px;
  border-bottom: solid 1px;
  color: #121212;
  padding: 10px;
  display: flex;
  align-items: center;
}

.Link_subSideBar {
  text-decoration: none;
  font-size: 18px;
  color: #121212;
  padding: 10px;
  display: flex;
  align-items: left;
}

.Link_sidebar:hover {
  font-size: 21.5px;
  background-color: #68686814;
}

.Icon_sidebar {
  margin-right: 6px;
}

.accordion {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-decoration: none;
  font-size: 20px;
  border-bottom: solid 1px;
  color: #121212;
  display: flex;
  align-items: center;

}

.accordion .item {
  border: 0;
  margin-top: 10px;
  box-shadow: none;
}

.accordion:hover {
  font-size: 21.5px;
  background-color: #68686814;
}

.accordion .item .accordion-header button {
  color: white;

}

.Footer_modal {
  margin-bottom: '20px';
  display: flex;
  justify-content: flex-end;
}


.MarginRow_custom {
  margin: 25px;
}

.full-height {
  height: 100%;
}